/*a:link{*/
/*    color: blue;*/
/*    text-decoration: none;*/
/*}*/
/*a:visited{*/
/*    color: pink;*/
/*    text-decoration: none;*/
/*}*/
/*a:hover{*/
/*    color: red;*/
/*    text-decoration: underline;*/
/*}*/
/*a:active{*/
/*    color: yellow;*/
/*    text-decoration: underline;*/
/*}*/
/*input:hover{*/
/*    border: 2px solid red;*/
/*}*/

/*a:only-child{*/
/*    color: red;*/
/*}*/
/*span:only-of-type{*/
/*    color: green;*/
/*}*/
/*p:only-of-type{*/
/*    color: red;*/
/*}*/
/*div:only-of-type{*/
/*    color: blue;*/
/*}*/
tr:nth-child(odd){
    background-color: #bbb;
}
tr:nth-child(even){
    background-color: #fff;
}
tr:nth-child(3n+2){
    background-color: red;
}
tr:nth-last-child(1){
    background-color:yellow;
}
tr:nth-of-type(2)
{
    background-color: aqua;
}
::first-letter{
    color: red;
    font-size: 25px;
}
::first-line{
    font-size: 20px;
}
.warning::before{
    content: "Important! ";
    font-weight: bold;
}

.warning::after{
    content: "Warn ";
    font-weight: bold;
}
::selection{
    color: white;
    background-color: blue;
}
